// Typography var
$site-text-size: 16px
$site-text-color: #3b3b3b

//base theme
$bg-color: #f7f7f7
$bg-light: #ffffff

// $interface-color: #0f3e16
// $interface-color: #0000ff
// $interface-color: #2b79cd
// $interface-color: #2bcd81
$interface-color: #e9932a
$btn-text: #f5f5f5
$btn-disabled: #c4c4c4
// $danger-text: #d01b49
$danger-text: #2e2b2c
$danger-bg: #c92f2f
$success-bg: #32b660
$attention-bg: #3a3636
